/* UTILITIES */
body {
  color: white;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}

.text_blue {
  color: #2C3E50;
}

.my_divider {
  margin: 30px 0;
}
.my_divider .short_divider {
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
}

.my_divider .fa-star {
  font-size: 30px;
  padding: 0 20px;
  vertical-align: middle;
}

.btn_outline {
  padding: 20px 30px;;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

#about .btn_outline:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.btn_outline .fa-download {
  margin-right: 10px;
}

#contact-me .btn_green {
  padding: 20px 30px;;
  background-color: #1ABC9C;
  color: white;
  font-size: 20px;
}

#contact-me .btn_green:hover {
  background-color: #159A80;
}

#footer-top .btn_social {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 100%;
  display: inline-block;
}

#footer-top .btn_social:last-child {
  margin-right: 0;
}

#footer-top .btn_social i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}


/* START HEADER */

/* nav */
.navbar-default {
  background-color: #2C3E50;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand:hover {
  color: grey;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #1ABC9C;
  border-radius: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: grey;
}
/* /nav */

/* jumbotron */
.jumbotron_custom {
  background-color: #1ABC9C;
  padding: 130px 0 100px 0;
  margin-bottom: 0;
  color: white;
  text-align: center;
}

.jumbotron_custom img {
  height: 200px;
  border-radius: 50%;
}

.jumbotron_custom h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 600;
}
/* /jumbotron */

/* END HEADER */

/* START MAIN */

/* portfolio */
#portfolio {
  padding: 100px 0;
}

#portfolio h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .my_divider .short_divider {
  background-color: #2C3E50;
}

#portfolio .item_box {
  position: relative;
  margin-bottom: 30px;
}

#portfolio .item_box:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.8);
  border-radius: 20px;
  cursor: pointer;
}

#portfolio .overlay .fa-plus {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: white;
}

#portfolio .item_box:hover .fa-plus {
  display: block;
}

#portfolio img {
  width: 100%;
  border-radius: 20px;
}
/* /portfolio */

/* about */
#about {
  padding: 80px 0px;
  background-color: #1ABC9C;
}

#about h2 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#about p {
  color: white;
  font-size: 20px;
}

#about .about_btn {
  margin-top: 30px;
}
/* /about */

/* contact me */
#contact-me {
  padding: 80px 0;
}

#contact-me .container {
  padding: 0 100px;
}

#contact-me h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#contact-me .my_divider .short_divider {
  background-color: #2C3E50;
}

#contact-me .my_form {
  display: block;
  width: 100%;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 1px solid lightgrey;
  font-size: 25px;
  color: #2C3E50;
}

#contact-me .my_form:focus {
  outline: none;
}

#contact-me textarea {
  resize: none;
}
/* /contact me */

/* END MAIN */

/* START FOOTER */

/* footer top */
#footer-top {
  padding: 60px 0;
  background-color: #2C3E50;
}

#footer-top h4 {
  margin-bottom: 25px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#footer-top p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

#footer-top p > a {
  color: #1ABC9C;
}

#footer-top p > a:hover {
  color: #159A80;
}

/* /footer top */

/* footer bottom */
#footer-bottom {
  padding: 25px 0;
  background-color: #1A252F;
}

#footer-bottom p {
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
}
/* footer bottom */

/* END FOOTER */
