/* START HEADER */

/* nav */
.navbar-default {
  background-color: #2C3E50;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand:hover {
  color: grey;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
  color: grey;
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: grey;
}
/* /nav */

/* jumbotron */
.jumbotron {
  background-color: #1ABC9C;
  padding: 100px 0;
  margin-bottom: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.jumbotron img {
  height: 200px;
  border-radius: 50%;
}
/* /jumbotron */

/* END HEADER */

/* START MAIN */

/* portfolio */
#portfolio {
  padding: 100px 0;
}

#portfolio h2 {
  color: #2C3E50;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

#portfolio [class*="col-"] {
  padding-top: 30px;
}

#portfolio img {
  width: 100%;
  border-radius: 20px;
}
/* /portfolio */

/* about */
#about {
  padding: 80px 0;
  background-color: #1ABC9C;
}

#about h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

#about p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
/* /about */

/* contact me */
#contact-me {
  height: 500px;
  padding: 80px 0;
}

#contact-me h2 {
  color: #2C3E50;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
/* /contact me */

/* END MAIN */

/* START FOOTER */

/* footer top */
#footer-top {
  padding: 60px 0;
  background-color: #3A546D;
}

#footer-top h4 {
  color: white;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

#footer-top p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
/* /footer top */

/* footer bottom */
#footer-bottom {
  padding: 20px 0;
  background-color: #2C3E50;
}

#footer-bottom p {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
/* footer bottom */


/* END FOOTER */
